<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="tw.edu.ntu.mgov" android:versionCode="1" android:versionName="@string/app_version">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="@string/app_name">
        <uses-library android:name="com.google.android.maps" />
        <activity android:label="@string/app_name" android:name=".mgov">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<activity android:label="MyCase" android:name=".mycase.MyCase"></activity>
<activity android:label="Option" android:name=".option.Option"></activity>
<activity android:label="Query" android:name=".query.Query"></activity>
<activity android:name=".typeselector.TypeSelector" android:label="TypeSelector"></activity>
<activity android:name=".typeselector.DetailSelector" android:label="TypeDetailSelector"></activity>
<activity android:name=".addcase.AddCase" android:label="AddCase" ></activity>
</application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="7"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 