<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="tw.edu.ntu.csie.mgov"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".mgov"
                  android:label="@string/app_name"
                  >
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AskActivity" ></activity>
		<activity android:name=".CameraActivity" ></activity>
    

<activity android:name="NoPicSubmit"></activity>
<activity android:name="problem_list"></activity>
<activity android:name="Query"></activity>
<activity android:name="photoGallery"></activity>
<activity android:name="submit"></activity>
<uses-library android:name="com.google.android.maps" />

<activity android:name="map"></activity>
<activity android:name=".casefilter.CaseFilter" android:screenOrientation="portrait"></activity>
</application>
	<uses-sdk android:minSdkVersion="3"/>
	<uses-permission android:name="android.permission.CAMERA" />
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET" /> 
</manifest> 