<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Section0</key>
	<string>道路、橋樑、水溝與堤防</string>
	<key>Section1</key>
	<string>公園、行道樹</string>
	<key>Section2</key>
	<string>廢棄物、公廁</string>
	<key>Section3</key>
	<string>廣告</string>
	<key>Section4</key>
	<string>交通號誌、路燈、門牌</string>
	<key>Section5</key>
	<string>其他</string>
</dict>
</plist>
