{
	"CFBundleDevelopmentRegion" = "zh_TW";
	CFBundleDisplayName = "\U8def\U898b\U4e0d\U5e73";
	"CFBundleDocumentTypes" = ();
	CFBundleExecutable = "${EXECUTABLE_NAME}";
	CFBundleIconFile = "";
	CFBundleIconFiles = (
		"Icon.png",
		"Icon@2x.png",
		"Icon-72.png",
		"Icon-Small-50.png",
		"Icon-Small.png",
		"Icon-Small@2x.png",
	);
	CFBundleIdentifier = "tw.edu.ntu.taipei1999";
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundleName = "${PRODUCT_NAME}";
	CFBundlePackageType = APPL;
	CFBundleSignature = "????";
	CFBundleVersion = "1.0";
	LSRequiresIPhoneOS = YES;
	NSMainNibFile = MainWindow;
	"Release Info" = "Wantoto Inc.";
	UILaunchImageFile = "Default.png";
	"Develop Mode" = NO;
}