<!--
 *
 * reportDetails.plist
 *
 * Record Type Detail Info
 *
 * Copyright 2010 NTU CSIE Mobile & HCI Lab
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *     http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Section0</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<string>地下道照明設備損壞</string>
			<key>Detail1</key>
			<string>道路中心樁損壞</string>
			<key>Detail2</key>
			<string>人行道損壞</string>
			<key>Detail3</key>
			<string>捷運施工致路面損壞</string>
			<key>Detail4</key>
			<string>建築工程致路面損壞</string>
			<key>Detail5</key>
			<string>新建道路工程致路面損壞</string>
			<key>Detail6</key>
			<string>道路未修復或修復未完善</string>
			<key>Detail7</key>
			<string>橋梁損壞修復</string>
			<key>Detail8</key>
			<string>建築工程佔用路面</string>
			<key>Detail9</key>
			<string>市區道路坑洞</string>
			<key>Detail10</key>
			<string>山區鄰里道路路面損壞</string>
		</dict>
		<key>Type1</key>
		<dict>
			<key>Detail0</key>
			<string>下水道維護導致路面損壞</string>
			<key>Detail1</key>
			<string>下水道損壞</string>
			<key>Detail2</key>
			<string>道路側溝溝蓋損壞</string>
			<key>Detail3</key>
			<string>山區鄰里道路溝蓋損壞</string>
		</dict>
		<key>Type2</key>
		<dict/>
	</dict>
	<key>Section1</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<string>一般公園環境髒亂</string>
			<key>Detail1</key>
			<string>一般公園育樂設施損壞</string>
			<key>Detail2</key>
			<string>捷運站外公園髒亂</string>
			<key>Detail3</key>
			<string>捷運站外公園育樂設施損壞</string>
			<key>Detail4</key>
			<string>河川區域環境維護</string>
			<key>Detail5</key>
			<string>河濱公園自行車道損壞</string>
			<key>Detail6</key>
			<string>河濱公園道路損壞</string>
			<key>Detail7</key>
			<string>迪化污水廠運動公園髒亂</string>
			<key>Detail8</key>
			<string>迪化污水廠運動公園育樂設施損壞</string>
		</dict>
		<key>Type1</key>
		<dict>
			<key>Detail0</key>
			<string>登山步道旁草木修剪扶正</string>
			<key>Detail1</key>
			<string>私人土地樹木影響公共安全</string>
			<key>Detail2</key>
			<string>產業道路旁樹木修剪扶正</string>
			<key>Detail3</key>
			<string>安全島、行道樹修剪扶正</string>
			<key>Detail4</key>
			<string>捷運站外公園行道樹修剪扶正</string>
		</dict>
	</dict>
	<key>Section2</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<string>山坡地廢棄土石稽查</string>
			<key>Detail1</key>
			<string>公廁清理維護</string>
			<key>Detail2</key>
			<string>無主大型廢棄物清理</string>
			<key>Detail3</key>
			<string>廢棄物清理</string>
		</dict>
		<key>Type1</key>
		<dict>
			<key>Detail0</key>
			<string>登山步道清潔</string>
			<key>Detail1</key>
			<string>市區道路廢棄物、廢土清除</string>
			<key>Detail2</key>
			<string>路燈、行道樹旁雜草清除</string>
			<key>Detail3</key>
			<string>人行道上雜草清除</string>
			<key>Detail4</key>
			<string>山區道路廢棄物清理</string>
		</dict>
		<key>Type2</key>
		<dict>
			<key>Detail0</key>
			<string>水溝清理</string>
			<key>Detail1</key>
			<string>水溝消毒</string>
			<key>Detail2</key>
			<string>污水下水道清理</string>
			<key>Detail3</key>
			<string>產業道路水溝清理</string>
			<key>Detail4</key>
			<string>山區道路旁水溝清理</string>
		</dict>
	</dict>
	<key>Section3</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<string>遊動廣告物違規停放</string>
			<key>Detail1</key>
			<string>公車站牌及候車亭廣告</string>
			<key>Detail2</key>
			<string>道路範圍內廣告</string>
			<key>Detail3</key>
			<string>天橋、地下道廣告物</string>
			<key>Detail4</key>
			<string>安全島廣告物</string>
			<key>Detail5</key>
			<string>行道樹、公園廣場廣告物</string>
			<key>Detail6</key>
			<string>圓環廣告物</string>
			<key>Detail7</key>
			<string>違規懸掛布條、放置看板</string>
			<key>Detail8</key>
			<string>交通標誌桿廣告物</string>
		</dict>
		<key>Type1</key>
		<dict>
			<key>Detail0</key>
			<string>圓環或公園上競選違規旗幟移除</string>
			<key>Detail1</key>
			<string>巷道競選違規旗幟移除</string>
			<key>Detail2</key>
			<string>橋梁上競選違規旗幟移除</string>
			<key>Detail3</key>
			<string>山坡地競選違規旗幟移除</string>
			<key>Detail4</key>
			<string>社教及學校內競選違規旗幟移除</string>
			<key>Detail5</key>
			<string>公有古蹟內競選違規旗幟移除</string>
			<key>Detail6</key>
			<string>國宅社區內競選違規旗幟移除</string>
			<key>Detail7</key>
			<string>捷運系統內競選違規旗幟移除</string>
			<key>Detail8</key>
			<string>鄰里公園競選違規旗幟移除</string>
			<key>Detail9</key>
			<string>交通號誌燈桿競選違規旗幟移除</string>
		</dict>
		<key>Type2</key>
		<dict>
			<key>Detail0</key>
			<string>建築物外牆競選廣告張貼移除</string>
			<key>Detail1</key>
			<string>路燈桿競選廣告張貼移除</string>
			<key>Detail2</key>
			<string>交通標誌桿競選廣告張貼移除</string>
			<key>Detail3</key>
			<string>行道樹、公園競選廣告張貼移除</string>
			<key>Detail4</key>
			<string>圓環、廣場競選廣告張貼移除</string>
			<key>Detail5</key>
			<string>天橋、地下道競選廣告張貼移除</string>
			<key>Detail6</key>
			<string>捷運系統競選廣告張貼移除</string>
			<key>Detail7</key>
			<string>住宅社區競選廣告張貼移除</string>
			<key>Detail8</key>
			<string>公車站牌廣告競選廣告張貼移除</string>
			<key>Detail9</key>
			<string>計程車招呼站競選廣告張貼移除</string>
		</dict>
		<key>Type3</key>
		<dict>
			<key>Detail0</key>
			<string>車上(非違規路段)大型遊動競選廣告</string>
			<key>Detail1</key>
			<string>車上(收費停車格)大型遊動競選廣告</string>
			<key>Detail2</key>
			<string>建築物牆上大型或遊動競選廣告</string>
			<key>Detail3</key>
			<string>捷運系統大型或遊動競選廣告</string>
			<key>Detail4</key>
			<string>住宅社區大型或遊動競選廣告</string>
			<key>Detail5</key>
			<string>建築物屋頂大型或遊動競選廣告</string>
			<key>Detail6</key>
			<string>路外停車場大型或遊動競選廣告</string>
			<key>Detail7</key>
			<string>行道樹、公園大型或遊動競選廣告</string>
			<key>Detail8</key>
			<string>圓環、廣場大型或遊動競選廣告</string>
			<key>Detail9</key>
			<string>天橋、地下道大型或遊動競選廣告</string>
			<key>Detail10</key>
			<string>紅磚人行道大型或遊動競選廣告</string>
			<key>Detail11</key>
			<string>大型道路大型或遊動競選廣告</string>
		</dict>
	</dict>
	<key>Section4</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<string>公用停車格畫線模糊不清</string>
			<key>Detail1</key>
			<string>一般停車格畫線模糊不清</string>
			<key>Detail2</key>
			<string>公車站牌損壞</string>
			<key>Detail3</key>
			<string>人行道禁止停車標誌損壞</string>
			<key>Detail4</key>
			<string>紅綠燈不亮</string>
			<key>Detail5</key>
			<string>交通號誌燈故障</string>
			<key>Detail6</key>
			<string>交通號誌控制器、電源箱故障</string>
			<key>Detail7</key>
			<string>交通標誌故障</string>
			<key>Detail8</key>
			<string>反射鏡、減速墊修復</string>
			<key>Detail9</key>
			<string>禁停紅黃線不清</string>
			<key>Detail10</key>
			<string>白線模糊不清</string>
			<key>Detail11</key>
			<string>黃線模糊不清</string>
			<key>Detail12</key>
			<string>捷運工地交通號誌燈維護</string>
		</dict>
		<key>Type1</key>
		<dict/>
		<key>Type2</key>
		<dict>
			<key>Detail0</key>
			<string>巷弄名牌維護</string>
			<key>Detail1</key>
			<string>交通號誌旁街路名牌維護</string>
			<key>Detail2</key>
			<string>門牌掉落或損壞</string>
			<key>Detail3</key>
			<string>道路名牌漢語拼音</string>
			<key>Detail4</key>
			<string>巷弄名牌漢語拼音</string>
			<key>Detail5</key>
			<string>私設置巷弄指示牌移除</string>
		</dict>
		<key>Type3</key>
		<dict>
			<key>Detail0</key>
			<string>路燈損壞修復</string>
			<key>Detail1</key>
			<string>路面漏水、水管、消防栓箱損壞</string>
			<key>Detail2</key>
			<string>電線、電線桿損壞 </string>
			<key>Detail3</key>
			<string>公園太陽能燈損壞</string>
			<key>Detail4</key>
			<string>傾斜電線桿扶正</string>
			<key>Detail5</key>
			<string>人手孔破損</string>
			<key>Detail6</key>
			<string>路面人手孔蓋調整</string>
			<key>Detail7</key>
			<string>下水道人手孔蓋調整</string>
		</dict>
		<key>Type4</key>
		<dict>
			<key>Detail0</key>
			<string>公用電話亭損壞</string>
			<key>Detail1</key>
			<string>瓦斯管線損壞</string>
			<key>Detail2</key>
			<string>消防指示牌損壞修復</string>
			<key>Detail3</key>
			<string>地下式消防栓黃漆補刷</string>
		</dict>
	</dict>
	<key>Section5</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<string>巷道內占用停車格</string>
			<key>Detail1</key>
			<string>無開窗貨櫃屋佔用道路</string>
		</dict>
		<key>Type1</key>
		<dict>
			<key>Detail0</key>
			<string>城市花園綠化</string>
			<key>Detail1</key>
			<string>街道巷弄綠美化綠化</string>
		</dict>
		<key>Type2</key>
		<dict>
			<key>Detail0</key>
			<string>警政監視器纜線散落或任意附掛</string>
			<key>Detail1</key>
			<string>古蹟指示牌及指示地磚損壞</string>
			<key>Detail2</key>
			<string>WIFLY無線網路基地台</string>
			<key>Detail3</key>
			<string>公共藝術品</string>
			<key>Detail4</key>
			<string>有線電視線路</string>
			<key>Detail5</key>
			<string>有照攤販違規</string>
			<key>Detail6</key>
			<string>無照攤販取締</string>
		</dict>
		<key>Type3</key>
		<dict>
			<key>Detail0</key>
			<string>水或污染</string>
			<key>Detail1</key>
			<string>冷氣機滴水</string>
			<key>Detail2</key>
			<string>佔用路面、人行道固定物</string>
			<key>Detail3</key>
			<string>佔用路面、人行道非固定物</string>
			<key>Detail4</key>
			<string>捷運相關公共設施維護</string>
			<key>Detail5</key>
			<string>國宅內開放空間損壞</string>
		</dict>
	</dict>
</dict>
</plist>
