<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Section0</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict/>
			<key>Detail3</key>
			<dict/>
			<key>Detail4</key>
			<dict/>
			<key>Detail5</key>
			<dict/>
			<key>Detail6</key>
			<dict/>
			<key>Detail7</key>
			<dict/>
			<key>Detail8</key>
			<dict/>
			<key>Detail9</key>
			<dict>
				<key>SecondDetail0</key>
				<string>寬路面(8m以上)市區道路坑洞</string>
				<key>SecondDetail1</key>
				<string>一般路面市區道路坑洞</string>
			</dict>
			<key>Detail10</key>
			<dict>
				<key>SecondDetail0</key>
				<string>寬路面(8m以上)市區道路坑洞</string>
				<key>SecondDetail1</key>
				<string>一般路面市區道路坑洞</string>
			</dict>
		</dict>
		<key>Type1</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict>
				<key>SecondDetail0</key>
				<string>寬路面道路側溝溝蓋損壞</string>
				<key>SecondDetail1</key>
				<string>一般路面道路側溝溝蓋損壞</string>
			</dict>
			<key>Detail3</key>
			<dict>
				<key>SecondDetail0</key>
				<string>寬路面山區鄰里道路溝蓋損壞</string>
				<key>SecondDetail1</key>
				<string>一般路面山區鄰里道路溝蓋損壞</string>
			</dict>
		</dict>
		<key>Type2</key>
		<dict/>
	</dict>
	<key>Section1</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<dict>
				<key>SecondDetail0</key>
				<string>大型公園公園環境髒亂</string>
				<key>SecondDetail1</key>
				<string>一般公園環境髒亂</string>
			</dict>
			<key>Detail1</key>
			<dict>
				<key>SecondDetail0</key>
				<string>大型公園育樂設施損壞</string>
				<key>SecondDetail1</key>
				<string>一般公園育樂設施損壞</string>
			</dict>
			<key>Detail2</key>
			<dict/>
			<key>Detail3</key>
			<dict/>
			<key>Detail4</key>
			<dict/>
			<key>Detail5</key>
			<dict/>
			<key>Detail6</key>
			<dict/>
			<key>Detail7</key>
			<dict/>
			<key>Detail8</key>
			<dict/>
		</dict>
		<key>Type1</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict/>
			<key>Detail3</key>
			<dict/>
			<key>Detail4</key>
			<dict/>
		</dict>
	</dict>
	<key>Section2</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict/>
			<key>Detail3</key>
			<dict/>
		</dict>
		<key>Type1</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict/>
			<key>Detail3</key>
			<dict/>
			<key>Detail4</key>
			<dict/>
		</dict>
		<key>Type2</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict/>
			<key>Detail3</key>
			<dict/>
			<key>Detail4</key>
			<dict/>
		</dict>
	</dict>
	<key>Section3</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict/>
			<key>Detail3</key>
			<dict/>
			<key>Detail4</key>
			<dict/>
			<key>Detail5</key>
			<dict/>
			<key>Detail6</key>
			<dict/>
			<key>Detail7</key>
			<dict/>
			<key>Detail8</key>
			<dict/>
		</dict>
		<key>Type1</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict/>
			<key>Detail3</key>
			<dict/>
			<key>Detail4</key>
			<dict/>
			<key>Detail5</key>
			<dict/>
			<key>Detail6</key>
			<dict/>
			<key>Detail7</key>
			<dict/>
			<key>Detail8</key>
			<dict/>
			<key>Detail9</key>
			<dict/>
		</dict>
		<key>Type2</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict/>
			<key>Detail3</key>
			<dict/>
			<key>Detail4</key>
			<dict/>
			<key>Detail5</key>
			<dict/>
			<key>Detail6</key>
			<dict/>
			<key>Detail7</key>
			<dict/>
			<key>Detail8</key>
			<dict/>
			<key>Detail9</key>
			<dict/>
		</dict>
		<key>Type3</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict/>
			<key>Detail3</key>
			<dict/>
			<key>Detail4</key>
			<dict/>
			<key>Detail5</key>
			<dict/>
			<key>Detail6</key>
			<dict/>
			<key>Detail7</key>
			<dict/>
			<key>Detail8</key>
			<dict/>
			<key>Detail9</key>
			<dict/>
			<key>Detail10</key>
			<dict/>
			<key>Detail11</key>
			<dict/>
		</dict>
	</dict>
	<key>Section4</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict/>
			<key>Detail3</key>
			<dict/>
			<key>Detail4</key>
			<dict/>
			<key>Detail5</key>
			<dict/>
			<key>Detail6</key>
			<dict/>
			<key>Detail7</key>
			<dict/>
			<key>Detail8</key>
			<dict/>
			<key>Detail9</key>
			<dict/>
			<key>Detail10</key>
			<dict/>
			<key>Detail11</key>
			<dict/>
			<key>Detail12</key>
			<dict/>
		</dict>
		<key>Type1</key>
		<dict/>
		<key>Type2</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict/>
			<key>Detail3</key>
			<dict/>
			<key>Detail4</key>
			<dict/>
			<key>Detail5</key>
			<dict/>
		</dict>
		<key>Type3</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict/>
			<key>Detail3</key>
			<dict/>
			<key>Detail4</key>
			<dict/>
			<key>Detail5</key>
			<dict/>
			<key>Detail6</key>
			<dict>
				<key>SecondDetail0</key>
				<string>台電路面人手孔蓋調整</string>
				<key>SecondDetail1</key>
				<string>交工處路面人手孔蓋調整</string>
				<key>SecondDetail2</key>
				<string>中華電信路面人手孔蓋調整</string>
			</dict>
			<key>Detail7</key>
			<dict>
				<key>SecondDetail0</key>
				<string>雨水下水道人手孔蓋調整</string>
				<key>SecondDetail1</key>
				<string>衛生下水道人手孔蓋調整</string>
			</dict>
		</dict>
		<key>Type4</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict/>
			<key>Detail3</key>
			<dict/>
		</dict>
	</dict>
	<key>Section5</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<dict>
				<key>SecondDetail0</key>
				<string>巷道內占用停車格(新案件)</string>
				<key>SecondDetail1</key>
				<string>巷道內占用停車格(再犯案件)</string>
			</dict>
			<key>Detail1</key>
			<dict/>
		</dict>
		<key>Type1</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
		</dict>
		<key>Type2</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict>
				<key>SecondDetail0</key>
				<string>WIFLY基地台附掛管路破損</string>
				<key>SecondDetail1</key>
				<string>WIFLY基地台周遭路面損壞</string>
				<key>SecondDetail2</key>
				<string>WIFLY基地台纜線影響市容</string>
			</dict>
			<key>Detail3</key>
			<dict>
				<key>SecondDetail0</key>
				<string>公共藝術品損毀</string>
				<key>SecondDetail1</key>
				<string>公共藝術品周遭環境清潔</string>
			</dict>
			<key>Detail4</key>
			<dict>
				<key>SecondDetail0</key>
				<string>有線電視線路散落地面</string>
				<key>SecondDetail1</key>
				<string>有線電視線路散落水溝</string>
			</dict>
			<key>Detail5</key>
			<dict/>
			<key>Detail6</key>
			<dict/>
		</dict>
		<key>Type3</key>
		<dict>
			<key>Detail0</key>
			<dict/>
			<key>Detail1</key>
			<dict/>
			<key>Detail2</key>
			<dict/>
			<key>Detail3</key>
			<dict/>
			<key>Detail4</key>
			<dict/>
			<key>Detail5</key>
			<dict/>
		</dict>
	</dict>
</dict>
</plist>
