<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Invoker</key>
	<string></string>
	<key>submitReadable</key>
	<false/>
	<key>submitContent</key>
	<string></string>
	<key>submitQid</key>
	<integer>0</integer>
	<key>queryReadable</key>
	<false/>
	<key>queryContent</key>
	<string></string>
	<key>queryQid</key>
	<integer>0</integer>
</dict>
</plist>
