body {
	background-color:#333333;
	color:#333333;
	font-family:Arial;
	font-size:12px;
	text-align:center;
	margin:0;
	padding:0;
}

#page {
	background-image:url(images/page.png);
	background-repeat:repeat-y;
	width:900px;
	margin:auto;
	padding:auto;
	text-align:left;
}

#header {
	width:875px;
	height:77px;
	background-image:url(images/header.png);
	background-position:bottom center;
	clear:both;
	padding-top:25px;
	padding-left:25px;
}

#menulinks {
	width:875px;
	height:55px;
	background-image:url(images/menulinks.png);
	clear:both;
	padding-left:25px;
}

* html #menulinks a { /* Filter for IE6 to prevent li stacking */
  float: left;
  text-decoration: none;
  }

* html #menulinks a span { /* Filter for IE6 to prevent li stacking */
  float: left;
  text-decoration: none;
  }
  
#menulinks a {
	padding-left:14px;
	height:50px;
   background-image:none;
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	float:left;
	font-size:14px;
	font-weight:bold;
  }

#menulinks a span {
	padding-left:16px;
	padding-right:30px;
	padding-top:17px;
	height:35px;
	display:block;
   background-image:none;
	text-decoration:none;
	cursor:pointer;
  }
  
  
#menulinks a:hover, #menulinks a.active {
	background-image:url(images/menulinks_left.png);
	background-position:top left;
	text-decoration:none;
	color:#333333;
}

#menulinks a:hover span, #menulinks a.active span {
   background: url(images/menuhover.png) right top no-repeat;
	text-decoration:none;
}


.menulines {
	width:2px;
	height:53px;
	float:left;
	display:block;
	background-image:url(images/menuline.png);
}

.newsdate {
	padding-bottom:4px;
	color:#555555;
	font-weight:bold;
}

a {
	text-decoration:none;
	color:#555555;
}

a:hover {
	text-decoration:underline;
}

#mainarea {
	padding-top:10px;
}

#contentarea {
	padding-left:45px;
	width:530px;
	padding-right:27px;
	line-height:18px;
	float:left;
	padding-bottom:15px;
}

.content {
	padding-bottom:15px;
}

#sidebar {
	width:260px;
	float:left;
	line-height:18px;
}

.sidebarheader {
	font-size:16px;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:0px;
	margin-bottom:7px;
	color:#333333;
	border-bottom:1px solid #CCCCCC;
}


h1 {
	font-size:30px;
	font-weight:bold;
	margin:0;
	color:#FFFFFF;
}

.description {
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding-left:5px;
	color:#e5ecf9;
}

#footer {
	width:900px;
	padding-top:27px;
	height:40px;
	color:#FFFFFF;
	font-size:12px;
	line-height:16px;
	clear:both;
	background-image:url(images/footer.png);
}

#footerleft {
	float:left;
	padding-left:35px;
}

#footerright {
	float:right;
	padding-right:35px;
}

#footer a {
	color:#FFFFFF;
}

h2 {
	font-size:16px;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:0px;
	margin-bottom:7px;
	color:#333333;
	border-bottom:1px solid #CCCCCC;
}










