<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Section0</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<integer>1101</integer>
			<key>Detail1</key>
			<integer>1102</integer>
			<key>Detail2</key>
			<integer>1103</integer>
			<key>Detail3</key>
			<integer>1104</integer>
			<key>Detail4</key>
			<integer>1105</integer>
			<key>Detail5</key>
			<integer>1106</integer>
			<key>Detail6</key>
			<integer>1107</integer>
			<key>Detail7</key>
			<integer>1108</integer>
			<key>Detail8</key>
			<integer>1109</integer>
			<key>Detail9</key>
			<dict>
				<key>SecondDetail0</key>
				<integer>1110</integer>
				<key>SecondDetail1</key>
				<integer>1111</integer>
			</dict>
			<key>Detail10</key>
			<dict>
				<key>SecondDetail0</key>
				<integer>1112</integer>
				<key>SecondDetail1</key>
				<integer>1113</integer>
			</dict>
		</dict>
		<key>Type1</key>
		<dict>
			<key>Detail0</key>
			<integer>1201</integer>
			<key>Detail1</key>
			<integer>1202</integer>
			<key>Detail2</key>
			<dict>
				<key>SecondDetail0</key>
				<integer>1203</integer>
				<key>SecondDetail1</key>
				<integer>1204</integer>
			</dict>
			<key>Detail3</key>
			<dict>
				<key>SecondDetail0</key>
				<integer>1205</integer>
				<key>SecondDetail1</key>
				<integer>1206</integer>
			</dict>
		</dict>
		<key>Type2</key>
		<integer>1301</integer>
	</dict>
	<key>Section1</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<dict>
				<key>SecondDetail0</key>
				<integer>2101</integer>
				<key>SecondDetail1</key>
				<integer>2102</integer>
			</dict>
			<key>Detail1</key>
			<dict>
				<key>SecondDetail0</key>
				<integer>2103</integer>
				<key>SecondDetail1</key>
				<integer>2104</integer>
			</dict>
			<key>Detail2</key>
			<integer>2105</integer>
			<key>Detail3</key>
			<integer>2106</integer>
			<key>Detail4</key>
			<integer>2107</integer>
			<key>Detail5</key>
			<integer>2108</integer>
			<key>Detail6</key>
			<integer>2109</integer>
			<key>Detail7</key>
			<integer>2110</integer>
			<key>Detail8</key>
			<integer>2111</integer>
		</dict>
		<key>Type1</key>
		<dict>
			<key>Detail0</key>
			<integer>2201</integer>
			<key>Detail1</key>
			<integer>2202</integer>
			<key>Detail2</key>
			<integer>2203</integer>
			<key>Detail3</key>
			<integer>2204</integer>
			<key>Detail4</key>
			<integer>2205</integer>
		</dict>
	</dict>
	<key>Section2</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<integer>3101</integer>
			<key>Detail1</key>
			<integer>3102</integer>
			<key>Detail2</key>
			<integer>3103</integer>
			<key>Detail3</key>
			<integer>3104</integer>
		</dict>
		<key>Type1</key>
		<dict>
			<key>Detail0</key>
			<integer>3201</integer>
			<key>Detail1</key>
			<integer>3202</integer>
			<key>Detail2</key>
			<integer>3203</integer>
			<key>Detail3</key>
			<integer>3204</integer>
			<key>Detail4</key>
			<integer>3205</integer>
		</dict>
		<key>Type2</key>
		<dict>
			<key>Detail0</key>
			<integer>3301</integer>
			<key>Detail1</key>
			<integer>3302</integer>
			<key>Detail2</key>
			<integer>3303</integer>
			<key>Detail3</key>
			<integer>3304</integer>
			<key>Detail4</key>
			<integer>3305</integer>
		</dict>
	</dict>
	<key>Section3</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<integer>4101</integer>
			<key>Detail1</key>
			<integer>4102</integer>
			<key>Detail2</key>
			<integer>4103</integer>
			<key>Detail3</key>
			<integer>4104</integer>
			<key>Detail4</key>
			<integer>4104</integer>
			<key>Detail5</key>
			<integer>4105</integer>
			<key>Detail6</key>
			<integer>4105</integer>
			<key>Detail7</key>
			<integer>4106</integer>
			<key>Detail8</key>
			<integer>4107</integer>
		</dict>
		<key>Type1</key>
		<dict>
			<key>Detail0</key>
			<integer>4201</integer>
			<key>Detail1</key>
			<integer>4202</integer>
			<key>Detail2</key>
			<integer>4203</integer>
			<key>Detail3</key>
			<integer>4204</integer>
			<key>Detail4</key>
			<integer>4205</integer>
			<key>Detail5</key>
			<integer>4206</integer>
			<key>Detail6</key>
			<integer>4207</integer>
			<key>Detail7</key>
			<integer>4208</integer>
			<key>Detail8</key>
			<integer>4209</integer>
			<key>Detail9</key>
			<integer>4210</integer>
		</dict>
		<key>Type2</key>
		<dict>
			<key>Detail0</key>
			<integer>4301</integer>
			<key>Detail1</key>
			<integer>4302</integer>
			<key>Detail2</key>
			<integer>4303</integer>
			<key>Detail3</key>
			<integer>4304</integer>
			<key>Detail4</key>
			<integer>4304</integer>
			<key>Detail5</key>
			<integer>4305</integer>
			<key>Detail6</key>
			<integer>4306</integer>
			<key>Detail7</key>
			<integer>4307</integer>
			<key>Detail8</key>
			<integer>4308</integer>
			<key>Detail9</key>
			<integer>4309</integer>
		</dict>
		<key>Type3</key>
		<dict>
			<key>Detail0</key>
			<integer>4401</integer>
			<key>Detail1</key>
			<integer>4402</integer>
			<key>Detail2</key>
			<integer>4403</integer>
			<key>Detail3</key>
			<integer>4404</integer>
			<key>Detail4</key>
			<integer>4405</integer>
			<key>Detail5</key>
			<integer>4406</integer>
			<key>Detail6</key>
			<integer>4407</integer>
			<key>Detail7</key>
			<integer>4408</integer>
			<key>Detail8</key>
			<integer>4409</integer>
			<key>Detail9</key>
			<integer>4409</integer>
			<key>Detail10</key>
			<integer>4410</integer>
			<key>Detail11</key>
			<integer>4410</integer>
		</dict>
	</dict>
	<key>Section4</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<integer>5101</integer>
			<key>Detail1</key>
			<integer>5102</integer>
			<key>Detail2</key>
			<integer>5103</integer>
			<key>Detail3</key>
			<integer>5104</integer>
			<key>Detail4</key>
			<integer>5105</integer>
			<key>Detail5</key>
			<integer>5106</integer>
			<key>Detail6</key>
			<integer>5107</integer>
			<key>Detail7</key>
			<integer>5108</integer>
			<key>Detail8</key>
			<integer>5109</integer>
			<key>Detail9</key>
			<integer>5110</integer>
			<key>Detail10</key>
			<integer>5111</integer>
			<key>Detail11</key>
			<integer>5112</integer>
			<key>Detail12</key>
			<integer>5113</integer>
		</dict>
		<key>Type1</key>
		<integer>5201</integer>
		<key>Type2</key>
		<dict>
			<key>Detail0</key>
			<integer>5301</integer>
			<key>Detail1</key>
			<integer>5302</integer>
			<key>Detail2</key>
			<integer>5303</integer>
			<key>Detail3</key>
			<integer>5304</integer>
			<key>Detail4</key>
			<integer>5305</integer>
			<key>Detail5</key>
			<integer>5306</integer>
		</dict>
		<key>Type3</key>
		<dict>
			<key>Detail0</key>
			<integer>5401</integer>
			<key>Detail1</key>
			<integer>5402</integer>
			<key>Detail2</key>
			<integer>5403</integer>
			<key>Detail3</key>
			<integer>5404</integer>
			<key>Detail4</key>
			<integer>5405</integer>
			<key>Detail5</key>
			<integer>5406</integer>
			<key>Detail6</key>
			<dict>
				<key>SecondDetail0</key>
				<integer>5407</integer>
				<key>SecondDetail1</key>
				<integer>5408</integer>
				<key>SecondDetail2</key>
				<integer>5409</integer>
			</dict>
			<key>Detail7</key>
			<dict>
				<key>SecondDetail0</key>
				<integer>5410</integer>
				<key>SecondDetail1</key>
				<integer>5411</integer>
			</dict>
		</dict>
		<key>Type4</key>
		<dict>
			<key>Detail0</key>
			<integer>5501</integer>
			<key>Detail1</key>
			<integer>5502</integer>
			<key>Detail2</key>
			<integer>5503</integer>
			<key>Detail3</key>
			<integer>5504</integer>
		</dict>
	</dict>
	<key>Section5</key>
	<dict>
		<key>Type0</key>
		<dict>
			<key>Detail0</key>
			<dict>
				<key>SecondDetail0</key>
				<integer>6101</integer>
				<key>SecondDetail1</key>
				<integer>6102</integer>
			</dict>
			<key>Detail1</key>
			<integer>6103</integer>
		</dict>
		<key>Type1</key>
		<dict>
			<key>Detail0</key>
			<integer>6201</integer>
			<key>Detail1</key>
			<integer>6202</integer>
		</dict>
		<key>Type2</key>
		<dict>
			<key>Detail0</key>
			<integer>6301</integer>
			<key>Detail1</key>
			<integer>6302</integer>
			<key>Detail2</key>
			<dict>
				<key>SecondDetail0</key>
				<integer>6303</integer>
				<key>SecondDetail1</key>
				<integer>6304</integer>
				<key>SecondDetail2</key>
				<integer>6305</integer>
			</dict>
			<key>Detail3</key>
			<dict>
				<key>SecondDetail0</key>
				<integer>6306</integer>
				<key>SecondDetail1</key>
				<integer>6307</integer>
			</dict>
			<key>Detail4</key>
			<dict>
				<key>SecondDetail0</key>
				<integer>6308</integer>
				<key>SecondDetail1</key>
				<integer>6309</integer>
			</dict>
			<key>Detail5</key>
			<integer>6310</integer>
			<key>Detail6</key>
			<integer>6311</integer>
		</dict>
		<key>Type3</key>
		<dict>
			<key>Detail0</key>
			<integer>6401</integer>
			<key>Detail1</key>
			<integer>6401</integer>
			<key>Detail2</key>
			<integer>6402</integer>
			<key>Detail3</key>
			<integer>6403</integer>
			<key>Detail4</key>
			<integer>6404</integer>
			<key>Detail5</key>
			<integer>6405</integer>
		</dict>
	</dict>
</dict>
</plist>
