<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <base href="/html/">
    <title>{% block pageTitle %}mgov{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="js/base.js"></script>
    <link href="css/base.css" rel="stylesheet" type="text/css">
    {% block customHead %}{% endblock %}
</head>
<body>
{% block pageContent %}{% endblock %}
</body>
</html>