<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{% block pageTitle %}mgov{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="/html/js/base.js"></script>
    <link href="/html/css/base.css" rel="stylesheet" type="text/css">
    {% block customHead %}{% endblock %}
</head>
<body>
{% block pageContent %}
{% endblock %}
</body>
</html>